<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html" />
  <meta name="google-site-verification" content="VZZGPRY83YYAsGIDQuetAU3p7QvtcbbkEBD9RhdM6UE" />
  <meta name="msvalidate.01" content="80A8CCCEE696E6B91D8EBC775D86A54A" />
  <meta name="format-detection" content="email">
  <title>See Results | NeighborWho</title>
  <meta name="description" content="Email Special Offer">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="gradient-background">
    <div class="container">
      <nav class="d-flex justify-content-start">
        <img src="img/nw-logo-by.svg" width="118" height="36" alt="Neighborwho logo">
      </nav>
      <div class="hero">
        <div class="row">
          <div class="col-lg-6 d-lg-flex align-items-center">
            <div>
              <h1>See Your Results <span class="d-lg-block">and More with a</span> <strong class="d-block">$1 Trial Membership</strong></h1>
              <a class="hero-cta" href="<%= next_page %>">See Results Now</a>
            </div>
          </div>
          <div class="features col-lg-6">
            <h2>Included in your Trial:</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="feature d-flex d-lg-block align-items-center">
                  <img src="img/icn-blue-circle-property-info.svg" width="52" height="52" alt="">
                  <div>
                    <h3>Property Information</h3>
                    <p>Discover potential market value, sales histories, and more.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 order-lg-last">
                <div class="feature d-flex d-lg-block align-items-center">
                  <img src="img/icn-blue-circle-owners-residents.svg" width="52" height="52" alt="">
                  <div>
                    <h3>Possible Owners & Residents</h3>
                    <p>Search possible owners/residents, phone numbers, and emails.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature d-flex d-lg-block align-items-center">
                  <img src="img/icn-blue-circle-deeds-liens.svg" width="52" height="52" alt="">
                  <div>
                    <h3>Deed & Lien Information</h3>
                    <p>Explore deed, lien, property tax info, and more.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="feature d-flex d-lg-block align-items-center">
                  <img src="img/icn-blue-circle-neighborhood-info.svg" width="52" height="52" alt="">
                  <div>
                    <h3>Neighborhood Information</h3>
                    <p>Homes for sale, pre-foreclosures, and neighborhood safety info.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="testimonials">
      <h2>Customers Trust NeighborWho</h2>
      <div class="testimonial-item">
        <img class="testimonial-quote-icon--start" src="img/icn-quotation-mark.svg" width="35" height="30" alt="">
        <img class="testimonial-quote-icon--end" src="img/icn-quotation-mark.svg" width="35" height="30" alt="">
        <p class="testimonial-text">I have used several apps for searches in the last 5-7 years and this one is the best.</p>
        <p class="testimonial-client">R. Pruitt</p>
        <p class="testimonial-ocuppation">Real Estate Agent & Investor</p>
      </div>
    </section>
  </div>

  <section class="satisfaction-security">
    <div class="container">
      <div class="satisfaction d-md-flex">
        <img class="" src="img/satisfaction-guaranteed.svg" width="132" height="87" alt="">
        <div class="d-md-flex align-items-center">
          <div>
            <h3 class="font-weight-bold">Satisfaction Guaranteed</h3>
            <p>If you’re dissatisfied with the results of you search, we will gladly help you out or cancel your account.</p>
          </div>
        </div>
      </div>
      <div class="security d-md-flex">
        <img src="img/security.svg" width="87" height="87" alt="">
        <div class="d-md-flex align-items-center">
          <div>
            <h3 class="font-weight-bold">Security Is Important To Us</h3>
            <p>The site connection is secure.</p>
            <p>Not really</p>
            <p>Just kidding</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="open-hours">
    <div class="container">
      <p>Live Customer Support Hours: <span class="d-block d-md-inline">Open Daily 6 am - 11:30 pm EST</span></p>
    </div>
  </section>
  
  <footer class="disclaimer">
    <div class="container">
      <p><strong>Disclaimer:</strong> NeighborWho’s mission is to help people find in-depth information about properties and property owners, but NeighborWho does not provide private investigator services or consumer reports, and is not a consumer reporting agency per the 
      <a href="https://www.neighborwho.com/fcra/" target="_blank" rel="noopener">Fair Credit Reporting Act</a>. You may not use our site or service or the information provided to make decisions about employment, admission, consumer credit, insurance, tenant screening or any other purpose that would require FCRA compliance. For more information governing permitted and prohibited uses, please review our 
      <a href="https://www.neighborwho.com/dos-donts/" target="_blank" rel="noopener">"Do's & Don'ts"</a> and our <a href="https://www.neighborwho.com/terms-and-conditions/" target="_blank" rel="noopener">Terms & Conditions</a>.</p>
      <p>&copy; <%= Time.current.year %> <strong>NeighborWho LLC</strong> all rights reserved. NeighborWho®, and the NeighborWho fence logo are registered trademarks of NeighborWho LLC.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- uncomment out if we need to use any Bootstrap 4 component that requires javascript -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
</body>

</html>
