/* ************************************************** !!
/* CSS CONTENTS ----------------------------------------
--------------------------------------------------------
--| General/Utility
------| Buttons
------| Input Fields
--| Header
------| Logos
------| Navbar
--| Main Content
------| Sections (Steps)
---------| "Searching Subject" Step
---------| "Results Found" Step
---------| "Searching Data" Step
--| Animation
------| Progress Bar
------| Loader
------| Searching Location
--| Footer
------| Accessibility Widget
--| Downsell Modal
--| CSS To Match Control
------| General/Utility
---------| Buttons
------| Navbar
------| Sections (Steps)
--------------------------------------------------------
----------------------------------------------------- */

/* ************************************************************
***************************************************************
--- General / Utility ---
***************************************************************
************************************************************ */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #4a4a4a;
  cursor: default;
  overflow-x: hidden;
}

strong {
  font-weight: 700;
}

.text-highlight {
  color: #E7114C;
}

.h1 {
  color: #4a3b8f;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}

.h2 {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: center;
}

.h3 {
  color: #4a3b8f;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.4;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- Color Overrides --- */
.bv-text-purple {
  color: #4A3B8F;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 42px;
  }
  .h2 {
    font-size: 24px;
  }
  .h3 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .h1 {
    font-size: 52px;
  }
  .h3 {
    font-size: 52px;
    margin-bottom: 40px;
  }
}

/* -----------------------------------------------------------
--- Buttons ---
------------------------------------------------------------ */
.btn-cta {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  background: #81b44c;
  border: 0;
  border-radius: 6px;
  transition: all 0.25s ease-out;
  cursor: pointer;
  width: 100%;
  height: 50px;
  padding: 0 30px;
}

.btn-cta:hover,
.btn-cta:active {
  background: #638a3a;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
}

.btn-cta:focus {
  background: #638a3a;
  outline: none;
  box-shadow: none;
}

.btn-cta.disabled {
  background: #D3D2D7;
  color: #9b9b9b;
  border: none;
  -webkit-appearance: none;
  opacity: 1;
}

.btn-cta.disabled:hover {
  cursor: not-allowed;
  box-shadow: none;
}

.btn-link {
  color: #0F2D8F;
  font-size: 18px;
  padding: 0;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .btn-cta {
    width: auto;
    height: 60px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .btn-cta {
    height: 70px;
  }
}

/* -----------------------------------------------------------
--- Input Fields ---
------------------------------------------------------------ */
input::-ms-clear,
select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  color: inherit;
  background: transparent;
}

.input {
  text-align: left;
  background: #FFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.10);
  width: 100%;
  position: relative;
  height: 60px;
  line-height: 60px;
}

.input input,
.input textarea,
.input select {
  color: #4A4A4A;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  padding: 30px 40px 8px 12px;
  line-height: inherit;
  font-size: 18px;
  background: transparent;
}

.input select {
  width: 100%;
  background: transparent;
  line-height: 20px;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
}

@-moz-document url-prefix() {
  .input select {
    text-indent: -2px;
  }
}

.input select::-ms-expand,
.input input::-ms-reveal,
.input input::-ms-clear {
  display: none;
}

.input select:focus::-ms-value {
  color: inherit;
  background: transparent;
}

/* -- placeholder -- */
.input label {
  color: #9B9B9B;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.92px;
  padding-left: 12px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}

/* -- placeholder transition into label -- */
.input input:not(:-ms-input-placeholder) ~ label {
  font-size: 13px;
  letter-spacing: 1.56px;
  color: #4A3B8F;
  top: -16px;
  z-index: 2;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.input input:focus ~ label,
.input input:not(:placeholder-shown) ~ label,
.input select ~ label {
  font-size: 13px;
  letter-spacing: 1.56px;
  color: #4A3B8F;
  top: -16px;
  z-index: 2;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

/* -- input state styles -- */
.input input:focus,
.input textarea:focus,
.input select:focus {
  outline: none;
  border-color: #4A3B8F;
}

.input input.error,
.input select.error {
  border-color: #DC0015;
  margin-bottom: 5px;
}

.input ~ .error {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
  color: #DC0015;
  margin: 5px 0 0 12px;
}

.input__icon-area {
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 15px;
  top: 35%;
  width: 25px;
  height: 20px;
  float: right;
}

input.valid ~ .input__icon-area {
  background-image: url('../img/input-valid-icon.svg');
}

input.error ~ .input__icon-area {
  background-image: url('../img/input-error-icon.svg');
}

.input .chevron-down {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

@media (min-width: 768px) {
  .input ~ .error {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .input {
    height: 70px;
  }
  .input label {
    top: 5px;
  }
  .input input:focus ~ label,
  .input input:not(:placeholder-shown) ~ label,
  .input select ~ label {
    font-size: 15px;
    top: -12px;
  }
}

/* ************************************************************
***************************************************************
--- Header ---
***************************************************************
************************************************************ */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ebeaf4;
}

/* -----------------------------------------------------------
--- Logos ---
------------------------------------------------------------ */
.logo-container {
  padding: 15px 0 18px;
  max-width: 300px;
}

.logo--bv {
  margin-right: 10px;
}

.logo--bv__img {
  width: 126px;
  height: auto;
}

.logo__badge {
  width: 120px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ef2742;
  padding: 1px 9px;
  border-radius: 5px;
  margin: 5px 0 0 0;
}

.logo--catfish {
  display: none;
}

.logo--catfish__img {
  width: 87px;
}

@media (min-width: 768px) {
  .logo-container {
    padding: 20px 0;
  }
  .logo--bv {
    margin-right: 20px;
  }
  .logo--bv__img {
    width: 180px;
  }
  .logo__badge {
    margin-top: 6px;
  }
  .logo--catfish__img {
    width: 94px;
  }
}

/* -----------------------------------------------------------
--- Navbar ---
------------------------------------------------------------ */
.navbar-light .navbar-toggler {
  padding: 10px;
  margin: 7px 2px 0 0;
  border: 0;
}

.navbar-collapse__content {
  text-align: center;
  padding: 10px 0 10px;
}

.navbar__customer-service-number {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.bv-btn--tertiary {
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 10px;
  background: none;
  border: 3px solid #81B44C;
  color: #4A4A4A;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.25s ease-out;
}

.bv-btn--tertiary:hover {
  background: #81B44C;
  color: #FFF;
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

@media (min-width: 768px) {
  .navbar-collapse__content {
    width: 100%;
    border: 0;
    padding: 0;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

/* ************************************************************
***************************************************************
--- Main Content ---
***************************************************************
************************************************************ */
.main-content {
  background: #fcfcfc;
  border-bottom: 1px solid #ebeaf4;
}

/* -----------------------------------------------------------
--- Sections (Steps) ---
------------------------------------------------------------ */
.section {
  display: none;
  margin: 0 auto;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Subtract height of header + its margin */
  min-height: calc(100vh - 83px);
  padding: 30px 0 83px;
  overflow: hidden;
}

.section__header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.skip-link {
  text-align: center;
  margin-top: 40px;
}

.section--top-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.82px;
  margin-bottom: 10px;
}

.important-note {
  font-size: 14px;
  letter-spacing: 0px;
}

.important-note hr {
  margin: 0;
  border-color: #ebeaf4;
  width: 104px;
}

.important-note__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E7114C;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px;
}

.important-note__title-text {
  padding: 0 7px;
}

@media (min-width: 768px) {
  .section__header {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .section--top-title {
    font-size: 24px;
  }
  .skip-link {
    margin-top: 35px;
  }
  .important-note__title {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .section--top-title {
    font-size: 24px;
    letter-spacing: 1px;
  }
  .important-note {
    font-size: 16px;
  }
}

/* -----------------------------------------------------------
--- "Searching Subject" Step ---
------------------------------------------------------------ */

.important-note-spacing {
  margin: 62px 0 20px;
}

@media (min-width: 768px) {
  .important-note-spacing {
    margin: 122px 0 20px;
  }
}

@media (min-width: 992px) {
  .important-note-spacing {
    margin: 100px 0 20px;
  }
}

/* -----------------------------------------------------------
--- "Results Found" Step ---
------------------------------------------------------------ */

.odometer {
  font-size: 26px;
  position: relative;
  transition: all 0.2s ease-in;
}

.odometer.plus-added {
  margin-right: 20px;
}

.odometer.plus-added::after {
  content: '+';
  position: absolute;
  right: -22px;
  top: 0;
}

.results-celebration {
  visibility: hidden;
  background-color: #222;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 0;
}

.celebration-wrapper {
  position: relative;
  overflow-x: hidden;
}

.dot-container {
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
  z-index: 5000;
  pointer-events: none;
}

.dot {
  position: absolute;
  pointer-events: none;
}

@media (min-width: 768px) {
  .odometer {
    font-size: 42px;
  }
  .odometer.plus-added::after {
    right: -28px;
  }
}

@media (min-width: 992px) {
  .odometer {
    font-size: 52px;
  }
}

/* -----------------------------------------------------------
--- "Searching Data" Step ---
----------------------------------------------------------- */

.info-list {
  max-width: 540px;
  margin: 0 auto;
  transition: all 0.3s;
}

.info-list-in {
  border: 1px solid #D8D8D8;
  padding: 24px 15px 24px 20px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in;
}

.info-list-in-left h4 {
  margin-bottom: 8px;
  color: #707070;
  font-size: 16px;
  text-align: left;
}

.info-list-in-left p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
}

.info-list-in-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 44px;
}

.info-list-in-right > * {
  position: absolute;
}

.info-list-in-right img {
  width: 13px;
  height: 16px;
}

.info-list__open-lock {
  display: none;
}

.animated.active .info-list__open-lock {
  display: block;
}

.animated.active .info-list__closed-lock {
  display: none;
}

.info-list-in .searching {
  display: none;
}

.animated.database {
  margin-bottom: 10px;
}

.animated.database.hide-height {
  animation: hide-height .5s forwards;
  opacity: 0;
  margin: 0;
}

.animated.active .searching {
  display: block;
  color: #81B44C;
  font-weight: bold;
}

.animated.active .unlocking {
  display: none;
}

.animated.active .info-list-in {
  border: 2px solid #81B44C;
}

.info-list-in.animate {
  background: #FFF;
}

.animated.active .info-list-in.animate {
  animation: none;
}

.info-list .checkmark {
  width: 150px;
  height: 150px;
  margin: 5vh auto;
  transform: none;
  display: none;
}

.tick-img {
  transform: none;
}

.countdown {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  color: #9b9b9b;
  text-align: center;
  margin-bottom: 0;
}

.dont-click-back {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
  color: #E7114C;
  background-color: #FBF0F3;
  border-radius: 8px;
  padding: 8px 16px;
}

.svg-progress {
  transform: rotate(-90deg);
  height: 44px;
  width: 44px;
}

.svg-progress circle {
  stroke: #EBEAF4;
  stroke-width: 3px;
}

.svg-progress .svg-bar {
  stroke: #81B44C;
  transition: stroke-dashoffset 1s linear;
}

@media (min-width: 768px) {
  .countdown {
    font-size: 16px;
    line-height: 19px;
  }
  .dont-click-back {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 26px;
  }
}

@media (min-width: 991px) {
  .animated.database {
    margin-bottom: 8px;
  }
}

/* Edge style only */
@supports (-ms-ime-align:auto) {
  .section--searching-data {
    height: auto;
  }
}

/* ************************************************************
***************************************************************
--- Animations ---
***************************************************************
************************************************************ */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes strokeDashArray {
  from {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }

  10% {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 0.001em 2.825em;
    stroke-dashoffset: -2.826em;
  }

  60% {
    stroke-dasharray: 0.001em 2.825em;
  }

  to {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: -2.826em;
  }
}

@keyframes colorBounce {
  1% {
    stroke: #81B44C;
  }

  24% {
    stroke: #81B44C;
  }

  26% {
    stroke: #4A3B8F;
  }

  49% {
    stroke: #4A3B8F;
  }

  51% {
    stroke: #81B44C;
  }

  74% {
    stroke: #81B44C;
  }

  76% {
    stroke: #4A3B8F;
  }

  99% {
    stroke: #4A3B8F;
  }
}

@keyframes search-magnifier-animation {
  0% {
    left: 10%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 10%;
  }
}

@keyframes hide-height {
  100% {
    height: 0;
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-out-right {
  animation-name: fade-out-right;
}

.fade-in-left {
  animation-name: fade-in-left;
}

/* -----------------------------------------------------------
--- Progress Bar ---
------------------------------------------------------------ */
.progress {
  width: 290px;
  height: 4px;
  margin: 0 auto;
  border-radius: 4px;
  background: #d8d8d8;
}

.progress .progress-bar {
  background: linear-gradient(45deg, #81b44c, #506e32);
  transform: translate3d(0,0,0);
}

@media (min-width: 768px) {
  .progress {
    width: 480px;
    height: 8px;
  }
}

/* -----------------------------------------------------------
--- Loader ---
------------------------------------------------------------ */

.before-start-loader {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Change this to resize the loader */
  font-size: 160px;
  animation: 2s rotate infinite linear;
}

.loader circle {
  fill: transparent;
  stroke: #81B44C;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-dasharray: 2.3525em 0.4705em;
  animation: 1.5s strokeDashArray infinite linear, 8s colorBounce infinite linear;
}

/* -----------------------------------------------------------
--- Searching Location ---
------------------------------------------------------------ */

.loading-animation {
  width: 58px;
  height: 46px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.loading-animation img {
  width: 58px;
  height: 46px;
}

.loading-animation .search-magnifying-glass {
  height: 26px;
  width: 26px;
  position: absolute;
  transform: translateX(-50%);
  animation: search-magnifier-animation 5s infinite;
}

.location-animation {
  position: relative;
  background: rgb(130 180 76 / 24%);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.location-animation .radar {
  height: 110px;
  width: 110px;
}

.location-animation .radar-dot-container {
  height: 24px;
  width: 24px;
}

.location-animation .radar-dot {
  height: 100%;
  width: 100%;
  border: solid 2px #FFF;
  background-color: #638a3a;
}

@media (min-width: 768px) {
  .loading-animation,
  .loading-animation img {
    width: 100px;
    height: 80px;
  }
  .loading-animation .search-magnifying-glass {
    height: 46px;
    width: 46px;
  }
  .location-animation {
    height: 180px;
    width: 180px;
  }
  .location-animation .radar {
    height: 180px;
    width: 180px;
  }
}

/* ************************************************************
***************************************************************
--- Footer ---
***************************************************************
************************************************************ */
.footer {
  padding: 20px 15px;
  text-align: center;
  letter-spacing: -0.5px;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 48px;
  margin-bottom: 15px;
  color: #4a3b8f;
}

.footer__subtitle {
  margin-top: 20px;
  font-size: 20px;
  color: #4a3b8f;
}

.footer__text {
  font-size: 14px;
  font-weight: 600;
  color: #9b9b9b;
}

.footer__link {
  font-size: 14px;
  color: #0f2d8f;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: none;
  color: #3b49e5;
}

.customer-service-wrapper {
  margin-bottom: 10px;
  border: 1px solid #EBEAF4;
  border-radius: 16px;
  box-shadow: 0 5px 15px 0 rgba(53, 49, 103, 0.1);
  padding: 18px 0;
}

.customer-service-title {
  font-size: 20px;
  font-style: italic;
  color: #4a3b8f;
  margin: 0;
}

.customer-service-wrapper .footer__text {
  color: #000;
}

.customer-service__bullet {
  overflow: hidden;
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
}

.footer__ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__ul li {
  margin-bottom: 4px;
  color: #949595;
}

.footer__ul .footer__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
}

.footer__disclaimer {
  margin: 20px 0 40px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer {
    padding: 60px 0 20px;
    text-align: left;
  }
  .footer__subtitle {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 12px;
  }
}

/* -----------------------------------------------------------
--- Accessibility Widget ---
------------------------------------------------------------ */
.acsb-container .container {
  padding: 0;
}

/* ************************************************************
***************************************************************
--- Downsell Modal ---
***************************************************************
************************************************************ */

.downsell-modal__img {
  margin: auto;
  position: absolute;
  top: -40px;
  z-index: 1;
  left: 0;
  right: 0;
}

.downsell-modal__title {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #353167;
  margin-bottom: 20px;
}

.downsell-modal__results-text {
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
}

.downsell-modal__results-name {
  display: block;
  margin-top: 5px;
  font-size: 22px;
  font-weight: bold;
  color: #4a3b8f;
  text-transform: capitalize;
}

.wait-line {
  font-size: 14px;
  color: #4a4a4a;
}

/* -----------------------------------------------------------
--- Modal Overrides ---
------------------------------------------------------------ */

.downsell-modal .modal-dialog {
  top: 70px;
}

.downsell-modal .modal-content {
  border-radius: 12px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 17%);
  border: solid 1px #EFEFEF;
  background-clip: initial;
}

.downsell-modal .modal-body {
  padding: 0 40px;
}

.downsell-modal .close {
  color: #9B9B9B;
  font-size: 35px;
  padding-right: 24px;
}

.downsell-modal .modal-header,
.downsell-modal .modal-footer {
  border: none;
}

.downsell-modal .modal-footer {
  padding-bottom: 40px;
}

.downsell-modal .btn-cta {
  font-size: 26px;
  font-weight: 700;
  padding: 0;
  width: 130px;
  height: 50px;
  margin: auto;
  border: 0;
}

@media (min-width: 768px) {
  .downsell-modal .modal-dialog {
      width: 362px;
  }
}

/* ************************************************************
***************************************************************
--- CSS To Match Control ---
***************************************************************
************************************************************ */

/* -----------------------------------------------------------
--- General/Utility ---
------------------------------------------------------------ */

body {
  letter-spacing: -0.5px;
}

/* -----------------------------------------------------------
--- Inputs/Buttons ---
------------------------------------------------------------ */

.btn-link {
  color: #3B49E5;
  font-size: 16px;
}

.input ~ .error {
  position: static;
}

/* -----------------------------------------------------------
--- Navbar ---
------------------------------------------------------------ */

.navbar__customer-service-number a {
  cursor: pointer;
  text-decoration: underline;
  color: #4a4a4a;
}

.mobile-menu-text {
  text-transform: uppercase;
  color: #4A4A4A;
  font-weight: 600;
  margin-right: 5px;
  font-size: 14px;
}

.navbar-collapse {
  margin: 0 -15px;
  border-top: 1px solid #FFF;
  background-color: #EFEFEF;
}

.navbar-collapse__content {
  padding: 15px 0 22px;
}

.navbar-light .navbar-toggler {
  padding-right: 0;
  margin-right: 0;
}

@media (min-width: 576px) and (max-width: 767px) {
  .header.container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    margin: 0;
    border-top: none;
    background-color: transparent;
  }
  .navbar-collapse__content {
    padding: 10px 0 10px;
  }
}

/* -----------------------------------------------------------
--- Sections (Steps) ---
------------------------------------------------------------ */

.skip-link {
  margin-top: 20px;
}

.section--form-location .search-form {
  max-width: 270px;
}

@media (min-width: 768px) {
  .search-form,
  .section--form-location .search-form {
    max-width: 540px;
  }
}
